
<%= form_for( [ @wine, @log_entry ] ) do |f| %>
  <%= render 'shared/validation_errors', object: @log_entry %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br />
  <%= f.label :rating %>  
  <% LogEntry::RATING.each do |rating| %>
    <%= f.radio_button :rating, rating %> <%= rating %>
  <% end %><br />
  <%= f.label :location %>
  <%= f.text_field :location, autofocus: true, placeholder: 'Location' %><br/>
  <%= f.label :comments %><br/>
  <%= f.text_area :comments %><br/>
  <p>
  <%= f.label :tasted_on %>
   <span class="date">
      <%= f.date_select :tasted_on , :order => [:month, :day, :year] %>
   </span>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', wine_log_entries_path(@wine), id: 'cancel_log_entry' %>
  </p>, 
<% end %>
