<header>Log Entries for <%= link_to(@wine.name, @wine) %></header>
<ol id="log_entries">
  <% @log_entries.each do |log_entry| %>
    <li>
      <span class="log_entry"><%= pluralize(log_entry.rating, 'rating') %></span>
      <span class="user">by <%= log_entry.name %> </span>
      <span class="date">
        <%= time_ago_in_words(log_entry.created_at) %> ago
      </span>
      <p>
        &quot;<%= log_entry.comments %>&quot;
      </p>
    </li>
  <% end %>
</ol>

                            
<%= link_to 'Write a Log Entry',  new_wine_log_entry_path(@wine),
        remote: true,
        data: { 'update-target' => 'log_entry_form_container' },
        class: 'btn btn-primary' %>

<div id="log_entry_form_container"></div>
