<!DOCTYPE html>
<html>
<head>
<name>Awesome Wines <%= yield :name %></name>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= render '/layouts/header' %>
</div>
<div class="container">
<div class="col-xs-9">
<%= render '/shared/flashes' %>
<%= yield %>
</div>
<div class="col-xs-3">
<%= render '/layouts/sidebar' %>
</div>
</div>
<%= render '/layouts/footer' %>
</body>
</html>

